In [5]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

# Load data

In [7]:
unemployment_data = pd.read_csv("../data/unemployed.csv")
nigerian_suicide_cases = pd.read_csv("../data/nigerian_suicide_cases.csv")

In [8]:
unemployment_data.head()

,country,indicator,group,Unit,Date,Value
0,Nigeria,LABOUR FORCE POPULATION (employment age and de...,All Groups,Persons,2010,6.517063e+07
1,Nigeria,LABOUR FORCE POPULATION (employment age and de...,All Groups,Persons,2011,6.725609e+07
2,Nigeria,LABOUR FORCE POPULATION (employment age and de...,All Groups,Persons,2012,6.910578e+07
3,Nigeria,LABOUR FORCE POPULATION (employment age and de...,All Groups,Persons,2013,7.110580e+07
4,Nigeria,LABOUR FORCE POPULATION (employment age and de...,All Groups,Persons,2014Q1,7.164117e+07

In [9]:
nigerian_suicide_cases.head()

,Unnamed: 0,IND_ID,IND_CODE,IND_UUID,IND_PER_CODE,DIM_TIME,DIM_TIME_TYPE,DIM_GEO_CODE_M49,DIM_GEO_CODE_TYPE,DIM_PUBLISH_STATE_CODE,IND_NAME,GEO_NAME_SHORT,DIM_SEX,DIM_AGE,RATE_PER_100000_N,RATE_PER_100000_NL,RATE_PER_100000_NU
0,79,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2001,YEAR,566,COUNTRY,PUBLISHED,Suicide deaths,Nigeria,MALE,TOTAL,6.92,3.93,11.3773
1,80,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2010,YEAR,566,COUNTRY,PUBLISHED,Suicide deaths,Nigeria,MALE,TOTAL,6.36,3.91,10.1658
2,87,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2005,YEAR,566,COUNTRY,PUBLISHED,Suicide deaths,Nigeria,MALE,TOTAL,6.66,3.87,11.1323
3,311,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2019,YEAR,566,COUNTRY,PUBLISHED,Suicide deaths,Nigeria,TOTAL,TOTAL,3.49,1.95,5.8400
4,646,16BBF41SDGSUICIDE,SDGSUICIDE,16BBF41,SDGSUICIDE,2004,YEAR,566,COUNTRY,PUBLISHED,Suicide deaths,Nigeria,FEMALE,TOTAL,2.85,1.52,4.4600

In [10]:
len(unemployment_data), len(nigerian_suicide_cases)

(4563, 93)